.start-page 
  {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

h1 
  {
    margin-bottom: 20px;
    color: #303030;
  }

button.start-btn 
  {
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    background-color: rgb(0, 94, 216);
    border: none;
    outline: none;
    border-radius: 4px;
  }

button.start-btn:hover 
  {
    background-color: rgb(2, 10, 121);
  }
